<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div class="col-10">
    <div  layout:fragment="content">
        <div class="row">
            <div class="col-2 mt-3">
                <a href="/admin/products/new" class="btn btn-primary"><i class="fa-solid fa-plus"></i> New</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <caption>Product table</caption>
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Category</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${products.empty}">
                        <td colspan="2"> No Books Available </td>
                    </tr>
                    <tr th:each="product : ${products}">
                        <th scope="row" th:text="${product.getId()}">1</th>
                        <td th:text="${product.getName()}">Name</td>
                        <td th:text="${product.getDescription()}">Description</td>
                        <td th:text="${product.getListImageString()}">Image</td>
                        <td th:text="${product.getPrice()}">Price</td>
                        <td th:text="${product.getQuantity()}">Quantity</td>
                        <td th:text="${product.getCategory().getName()}">Category</td>
                        <td th:text="${product.getCreatedString()}">Created</td>
                        <td th:text="${product.getUpdatedString()}">Updated</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>