<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index.html}">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <script>
        const handleDelete = (idx) => {
            const imagesInput = document.getElementById('images');
            if (imagesInput.files.length > 0) {
                let images = Array.from(imagesInput.files).filter((file, index) => {
                    return index !== idx;
                });
                const dataTransfer = new DataTransfer();
                images.forEach(image => dataTransfer.items.add(image));
                $("#images").prop('files', dataTransfer.files);
                updatePreview();
            }
        }
        const updatePreview = () => {
            const imagesInput = document.getElementById('images');
            $('#preview').empty();
            for (let i = 0; i < imagesInput.files.length; i++) {
                let reader = new FileReader();
                const fileName = imagesInput.files.item(i).name;
                reader.onload = (event) => {
                    img = `<div class="col-md-4 m-2">
                                <div class="thumbnail">
                                <img src="${event.target.result}" alt="Lights" style="width:100%; height: 100px">
                                <p>${fileName}</p>
                                <button onclick="handleDelete(${i})" type="button" class="btn btn-danger btn-delete">Delete</button>
                                </div>
                                </div>`;
                    $('#preview').append(img);
                }
                reader.readAsDataURL(imagesInput.files[i]);
            }
        }
        $(document).ready(() => {
            $("input[type='file']").change(() => {
                updatePreview();
            });
        });
    </script>
</head>
<body>
<div class="col-10">
    <div layout:fragment="content">
        <h1>Create Product</h1>
        <div class="row mt-3">
            <div class="col-sm-12">
                <form action="#" th:action="@{/admin/products/new}" th:object="${product}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" id="description">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" name="price" id="price">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="quantity">
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Category</label>
                        <select id="categoryId" name="categoryId">
                            <option th:each="cat: ${categories}" th:value="${cat.getId()}"
                                    th:text="${cat.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="images">Images</label>
                        <input type="file" class="form-control-file" name="images[]" id="images" accept="image/*"
                               multiple="multiple">
                    </div>
                    <div class="row" id="preview"></div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>