<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{user/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script>
        $(document).ready(() => {
            $('#apply-discount').on('click', () => {
                const discountId = $('#discount').val();
                const accessToken = $.cookie('accessToken');
                $.ajax({
                    url: `/api/v1/discount/${discountId}/apply`,
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);
                    },
                    contentType: 'application/json',
                    success: function (response) {
                        $('#total-amount').text(`Total: $${response}`);
                        alert('Apply discount successfully!');
                    },
                    error: function (error) {
                        console.log(error);
                        alert('Apply discount failed!');
                    }
                });
            });
        })
    </script>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <h1 class="mb-4">Your Cart</h1>
        <h3 sec:authorize="isAuthenticated()" th:if="${carts.size() == 0}" class="row">
            No have added cart item
        </h3>
        <div sec:authorize="isAuthenticated()" th:if="${carts.size() > 0}" class="row">
            <div class="col-lg-8">
                <div th:each="cart : ${carts}" class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img class="img-fluid" th:src="'/uploads/' + ${cart.getProduct().getFirstImagePath()}"
                                 alt="Product Image" style="height: 150px; width: 150px">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title" th:text="'Name: ' + ${cart.getProduct().getName()}">Product
                                    Name</h5>
                                <p class="card-text mb-1" th:text="'Price: ' + ${cart.getProduct().getPrice()}">Price:
                                    $100</p>
                                <p class="card-text mb-0"
                                   th:text="'Quantity: ' + ${cart.getQuantity()}">
                                    Total Price: $100</p>
                                <p class="card-text mb-0"
                                   th:text="'Total Price: $' + ${cart.getQuantity() * cart.getProduct().getPrice()}">
                                    Total Price: $100</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <form th:action="@{/pay}" method="post">
                            <p class="card-text" id="total-amount"
                               th:text="'Total: $' + ${#aggregates.sum(carts.![getTotal])}">Total: $500</p>
                            <button type="submit" class="btn btn-primary">Checkout</button>

                            <div class="form-group">
                                <label for="discount">Select Discount:</label>
                                <select class="form-control" id="discount" name="discountId">
                                    <option value="">None</option>
                                    <th:block th:each="discount : ${discounts}">
                                        <option th:value="${discount.getId()}"
                                                th:text="${discount.toString()}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </form>
                        <button th:if="${discounts.size()>0}" id="apply-discount" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <!--        not authenticated yet-->
        <h3 sec:authorize="!isAuthenticated()" th:if="${cartItems.size() == 0}" class="row">
            No have added cart item
        </h3>
        <div sec:authorize="!isAuthenticated()" th:if="${cartItems.size() > 0}" class="row">
            <div class="col-lg-8">
                <div th:each="cartItem : ${cartItems}" class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img class="img-fluid" th:src="'/uploads/' + ${cartItem.getProduct().getFirstImagePath()}"
                                 alt="Product Image" style="height: 150px; width: 150px">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title" th:text="'Name: ' + ${cartItem.getProduct().getName()}">Product
                                    Name</h5>
                                <p class="card-text mb-1" th:text="'Price: ' + ${cartItem.getProduct().getPrice()}">
                                    Price:
                                    $100</p>
                                <p class="card-text mb-0"
                                   th:text="'Quantity: ' + ${cartItem.getQuantity()}">
                                    Total Price: $100</p>
                                <p class="card-text mb-0"
                                   th:text="'Total Price: $' + ${cartItem.getTotal()}">
                                    Total Price: $100</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <p class="card-text" th:text="'Total: $' + ${#aggregates.sum(cartItems.![getTotal])}">Total:
                            $500</p>
                        <a href="/login" class="btn btn-primary">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
        <!--        not authenticated yet-->

    </div>
</div>
</body>
</html>