<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{user/index.html}">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <script src="/js/cart.js"></script>
    <script>
        const getValue = (sel) => {
            if (sel.value !== "all") {
                window.location.href = `/products?categoryId=${sel.value}`;
            } else {
                window.location.href = `/products`;
            }
        }

        $(document).ready(() => {
            const categoryId = new URLSearchParams(window.location.search).get('productIdA');
            if (categoryId) {
                $('#category').val(categoryId);
            }
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="form-group col-4">
            <label for="category">Category:</label>
            <select onchange="getValue(this)" class="form-control" id="category">
                <option value="all" th:text="@{All product}"></option>
                <th:block th:each="category : ${categories}">
                    <option th:value="${category.getId()}" th:text="${category.getName()}"></option>
                </th:block>
            </select>
        </div>
    </div>
    <div class="row mt-1">
        <div th:each="product : ${products}" class="col-md-4">
            <div class="card mb-4">
                <a th:href="'/products/' + ${product.getId()}">
                    <img th:if="${product.getImages().size()>0}" class="card-img-top img-fluid" style="height: 200px"
                         th:src="'/uploads/' + ${product.getImages().get(0).getPath()}" alt="Card image cap">
                    <img th:if="${product.getImages().size() < 1}" class="card-img-top img-fluid" style="height: 200px"
                         th:src="'/images/product.png'" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.getName()}"></h5>
                    <div class="btn-group">
                        <a th:href="'/products/' + ${product.getId()}" type="button"
                           class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-eye"></i> View Details
                        </a>
                        <button sec:authorize="isAuthenticated()"
                                th:onclick="'addToCartAuth(\'' + ${product.getId()} + '\', \'' + 1 + '\')'" type="button"
                                class="btn btn-sm btn-outline-secondary">
                            <i class="fas fa-cart-plus"></i> Add to Cart
                        </button>
                        <button sec:authorize="!isAuthenticated()"
                                th:onclick="'addToCartUnAuth(\'' + ${product.getId()} + '\', \'' + 1 + '\')'" type="button"
                                class="btn btn-sm btn-outline-secondary">
                            <i class="fas fa-cart-plus"></i> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>